<!-- <h2>Add or Edit {{event.name | uppercase}} Details</h2> -->
<h2>{{pageTitle}}</h2>

<form novalidate [formGroup]="eventForm">
  <div>
    <mat-form-field>

        <input matInput type="text" name="name" 
         id="name"
         placeholder="Enter event name" 
         formControlName="name" />
         <mat-error>
          {{displayMessage.name}}
         </mat-error>

      </mat-form-field>
    </div>
        <button type="submit" (click)="saveEvent()">save</button>
        <button type="button" (click)="goBack()">go back</button>
        <button type="button" (click)="populateTestData()">Test data</button>


</form>


<div class="alert alert-danger"
*ngIf="errorMessage">{{errorMessage}}
</div>

<hr />
eventForm.get('name')!.errors | json
<div>{{eventForm.get('name')!.errors | json}}</div>
<hr />
eventForm.get('name')!.errors?.['maxlength'] != null  (lowercase l!!!!!)
<div>{{eventForm.get('name')!.errors?.['maxlength'] != null}}</div>
<hr />
eventForm.get('name')!.errors?.['required']
<div>{{eventForm.get('name')!.errors?.['required']}}</div>
<hr />
eventForm.value  | json:
<div class="form-val">
  {{eventForm.value | json }}
</div>
<hr />
<div class="form-val">
valid: {{eventForm.valid}} 
<div>This property returns true if the elements contents are valid and false otherwise.</div>
</div>
<hr />
invalid:  {{eventForm.invalid}} 
<div>This property returns true if the elements contents are invalid and false otherwise.</div>
<div class="form-val">
  <hr />
pristine: {{eventForm.pristine}} 
<div>This property returns true if the elements contents have not been changed.</div>
</div>
<div class="form-val">
  <hr />
dirty: {{eventForm.dirty}} 
<div>This property returns true if the elements contents have been changed.</div>
</div>
<div class="form-val">
  <hr />
untouched:  {{eventForm.untouched}}
<div>This property returns true if the user has not visited the element.</div>
</div>
<div class="form-val">
  <hr />
touched:  {{eventForm.touched}} 
<div>This property returns true if the user has visited the element.</div>
</div>
