<!-- <h2>Add or Edit {{event.name | uppercase}} Details</h2> -->
<h2>{{pageTitle}}</h2>

<form novalidate [formGroup]="eventForm">
  <div>
    <mat-form-field>

      <input matInput type="text" name="eventName" 
        id="eventName"
        placeholder="Enter event name" 
        formControlName="eventName" />
        <mat-error>
        {{displayMessage.eventName}}
        </mat-error>

    </mat-form-field>

  </div>
  <div>

    <mat-form-field>
      <input matInput [matDatepicker]="startDate" placeholder="Choose a start date" formControlName="startDate" name="startDate" 
      id="startDate" />
      <mat-error>
        {{displayMessage.startDate}}
      </mat-error>
      <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
      <mat-datepicker #startDate></mat-datepicker>
    </mat-form-field>
    
  </div>
  <div>

    <mat-form-field>
      <input matInput [matDatepicker]="endDate" placeholder="Choose an end date" formControlName="endDate" name="endDate" 
      id="endDate" />
      <mat-error>
        {{displayMessage.endDate}}
      </mat-error>
      <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
      <mat-datepicker #endDate></mat-datepicker>
    </mat-form-field>
    
  </div>

  <button class="add-button" (click)="saveEvent()"
    style="width:80px;"
    type="submit"
    [title]="eventForm.valid ? 'Save your entered data' : 'Disabled until the form data is valid'"
    [disabled]="!eventForm.valid">
    Save
  </button>

  <button type="button" (click)="goBack()">
    Cancel
  </button>

  <button type="button" (click)="populateTestData()">Test data</button>

</form>


<div class="alert alert-danger"
*ngIf="errorMessage">{{errorMessage}}
</div>

<hr />
eventForm.get('eventName')!.errors | json
<div>{{eventForm.get('eventName')!.errors | json}}</div>
<hr />
eventForm.get('eventName')!.errors?.['maxlength'] != null  (lowercase l!!!!!)
<div>{{eventForm.get('eventName')!.errors?.['maxlength'] != null}}</div>
<hr />
eventForm.get('eventName')!.errors?.['required']
<div>{{eventForm.get('eventName')!.errors?.['required']}}</div>

<hr />
eventForm.get('startDate')!.errors | json
<div>{{eventForm.get('startDate')!.errors | json}}</div>
<hr />
eventForm.get('startDate')!.errors?.['required']
<div>{{eventForm.get('startDate')!.errors?.['required']}}</div>
<hr />
eventForm.get('startDate')!.invalid | json
<div>{{eventForm.get('startDate')!.invalid | json}}</div>
<hr />
eventForm.get('startDate')!.touched | json
<div>{{eventForm.get('startDate')!.touched | json}}</div>
<hr />
eventForm.get('startDate')!.hasError('requiredStartDate') | json
<div>{{eventForm.get('startDate')!.hasError('requiredStartDate') | json}}</div>
<hr />
eventForm.get('startDate')!.hasError | json
<div>{{eventForm.get('startDate')!.hasError | json}}</div>
<hr />
eventForm.get('startDate')
<div>{{eventForm.get('startDate')}}</div>
<hr />
<hr />


displayMessage | json
<div>{{displayMessage | json}}</div>
<hr />


eventForm.value  | json:
<div class="form-val">
  {{eventForm.value | json }}
</div>
<hr />
<div class="form-val">
valid: {{eventForm.valid}} 
<div>This property returns true if the elements contents are valid and false otherwise.</div>
</div>
<hr />
invalid:  {{eventForm.invalid}} 
<div>This property returns true if the elements contents are invalid and false otherwise.</div>
<div class="form-val">
  <hr />
pristine: {{eventForm.pristine}} 
<div>This property returns true if the elements contents have not been changed.</div>
</div>
<div class="form-val">
  <hr />
dirty: {{eventForm.dirty}} 
<div>This property returns true if the elements contents have been changed.</div>
</div>
<div class="form-val">
  <hr />
untouched:  {{eventForm.untouched}}
<div>This property returns true if the user has not visited the element.</div>
</div>
<div class="form-val">
  <hr />
touched:  {{eventForm.touched}} 
<div>This property returns true if the user has visited the element.</div>
</div>
