<h2>Configuration</h2>

<div>
  <label for="new-configElement">configElement name: </label>
  <input id="new-configElement" #configElementName />

  <!-- (click) passes input value to add() and then clears the input -->
  <button type="button" class="add-button" (click)="add(configElementName.value); configElementName.value=''">
    Add configElement
  </button>
</div>

<ul class="configuration">
    <li *ngFor="let configElement of configuration">
      <a routerLink="/config-element-detail/{{configElement.id}}">
            <span class="badge">{{configElement.id}}</span>
            <span class="name">{{configElement.name}}: {{configElement.value}}</span> 
      </a>
      <button type="button" class="delete" title="delete configElement" (click)="delete(configElement)">x</button>
    </li>
</ul>
